/* Globe.css */

.globe-container {
  position: relative;
  width: 80vw;
  max-width: 800px;
  height: 80vh;
  max-height: 600px;
  user-select: none;
  top: 45%;
}

.globe-image {
  width: 100%;
  height: 112%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}


@keyframes pin-jump {
  0% { 
  transform: translate(-50%, -100%) translateY(0); 
  }
  50% { 
      transform: translate(-50%, -100%) translateY(-10px) rotate(2deg);
   }
   100% { 
       transform: translate(-50%, -100%) translateY(0); 
  }
}



.pin {
  position: absolute;
  transform: translate(-50%, -100%); 
  cursor: pointer;
  z-index: 20;
  width: 35px;
  height: 35px;
  transition: transform 0.1s ease-out; 
}

.pin:hover {
  animation: pin-jump 0.6s ease-out; 
  }


.pin-icon {
  width: 100%;
  height: 100%;
}

.popup-card {
  position: absolute;
  width: 195px;
  margin: 0 auto;
  background-color: #F4F5F7;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  color: #1F2937;
  font-family: "Inter", sans-serif;
  border: 1px solid #E5E7EB;
  box-sizing: border-box;
  text-align: left;
  height: 15rem;
  z-index: 30;
  pointer-events: none;
  user-select: none;
}

.popup-card.visible {
  opacity: 1;
  transform: translate(-50%, calc(-100% - 35px)) scale(1);
}

.popup-card.hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.6);
}

.popup-card-image-link {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  height: 9rem;
}

.popup-card-image {
  width: 100%;
  border-radius: 8px;
  display: block;
  object-fit: cover;
  height: 100%;
}

.popup-card-content {
  margin-top: -9px;
  margin-bottom: 4px;
}

.popup-card-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 5px;
}

.popup-card-subtitle {
  font-size: 12px;
  color: #6B7280;
  margin: 0;
}
